@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-main-blue: #647CB4;
  --color-bg-white: #F7F4F1;
  --color-bg-black: #2C2A28;
  --color-placeholder-grey: #9FA5B4;
}

html,
body {
  @apply bg-[var(--color-bg-white)] dark:bg-[var(--color-bg-black)];

  @media (prefers-color-scheme: light) {
    color-scheme: light;
  }

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
